@import url("https://fonts.googleapis.com/css?family=Londrina+Shadow&display=swap");

html,
body {
  height: 100%;
  margin: 0;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  background: -webkit-linear-gradient(to bottom, #f15f79, #b24592);
  background: linear-gradient(to bottom, #f15f79, #b24592);
  color: #fff;
  padding: 15px;
  box-sizing: border-box;
}

h1 {
  font-family: "Londrina Shadow", sans-serif;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  letter-spacing: 2px;
  font-size: 44px;
  text-align: center;
}

.genre {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: #2f071b;
}

.randomize {
  margin-top: 40px;
  text-align: center;
}

.randomize button {
  display: inline-block;
  padding: 10px 35px;
  outline: none;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
}

.randomize button:hover {
  background-color: #fff;
  color: #000;
  mix-blend-mode: screen;
}

.randomize button:active {
  position: relative;
  top: 1px;
}

button::-moz-focus-inner {
  border: 0;
}
